<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .card {
            border: 2px solid white;
            /* align-self: ; */
            /* background: linear-gradient(135deg, #35ff8c, #00c9ff); */

            background-image: radial-gradient(#35ff8c 1.5px, transparent 1.5px);
            background-size: 50px 50px;
            background-color: #081411;

            color: black;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
            height: 450px;
            width: 1100px;
        }

        .glass {
            width: 90%;
            height: 90%;
            /* color: rgba(255, 255, 255,1); */
            color: #35ff8c;
            box-sizing: border-box;

            backdrop-filter: blur(2px);
            border: 1px solid rgba(255, 255, 255, 1);
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            align-items: end;
            padding: 30px 20px 20px 40px;
        }

        .tool-name {
            font-size: 40px;
            margin: 10px;
            font-weight: 800;
        }

        .discription {
            text-align: right;
            width: 70%;
            font-size: 1.5rem;
            font-weight: 200;
            /* color:white; */
            color: #2ed6777d;
        }
    </style>
</head>

<body>
    <div class="card">
        <div class="glass">
            <div class="tool-name">Function</div>
            <p class="discription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem,
                totam?Lorem ipsum dolor
                sit amet consectetur adipisicing elit. Maiores voluptatum doloremque id deserunt
                obcaecati, cum adipisci
                molestias quaerat? Qui a magni repellat enim exercitationem! Illo provident
                natus praesentium quidem
                aliquam nihil culpa eligendi, quas harum nemo deleniti quam odit delectus saepe
                explicabo magnam
                molestiae. Magni!
            </p>
            <div class="icon"></div>
        </div>
    </div>
</body>

</html>