<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <title>ZeroByte</title>
</head>

<body>
    <div class="navbar">
        <div class="name">
            <!-- <div class="logo">
                <img src="./image/logo.png" alt="">
            </div> -->
            <div class="name-logo">
                <img src="./images/name-logo.png" alt="">
            </div>
        </div>

        <div class="detail">

            <div id="branch" class="route-btn nav-btn branch-btn">Branch</div>

            <div class="arrow" id="one" style="color: grey;">></div>

            <div id="semester" class="nav-btn semester-btn" style="color: gray;">Semester</div>

            <div class="arrow" id="two" style="color: gray;">></div>

            <div id="subject" class="nav-btn subject-btn" style="color: grey;">Subject</div>


        </div>


        <div class="table">
            <a href="/auth/logout" class="logout-2">
                <div class="logout-2">logout</div>
            </a>
            <div class="desk" style="color: black;">My Desk</div>
        </div>
    </div>


    <main>
        <div class="sidebar">
            <div class="user-info">
                <div class="logo"><img src="/images/logo.png" alt="logo"></div>
                <div class="user-detail">
                    <div class="user-name"><%= user.name %></div>
                    <div class="user-role">Student</div>
                    <!-- <a href="/auth/logout">
                        <div class="logout">Logout</div>
                    </a> -->
                </div>
            </div>

            <div class="tab-nav">
                <div class="tab-select tab-utility-btn">Select</div>
                <div class="tab-tool tab-utility-btn">Tools</div>
                <div class="tab-bookmark tab-utility-btn">Bookmarks</div>
            </div>
            <div class="course-info">
                <div class="select">Select Branch</div>
                <div class="branch-list list-item">

                    <div class="branch-name small-text">Applied Physics & Materials Engineering</div>

                    <div class="branch-name">Architecture & Planning</div>

                    <div class="branch-name">Chemical Science & Technology</div>

                    <div class="branch-name">Civil Engineering</div>

                    <div class="branch-name">Computer Science & Engineering</div>

                    <div class="branch-name">Electrical Engineering</div>

                    <div class="branch-name small-text">Electronic & Communication Engineering</div>

                    <div class="branch-name">Humanities & Social Science</div>

                    <div class="branch-name small-text">Mathematics & Computation Technology</div>

                    <div class="branch-name">Mechanical Engineering</div>

                    <div class="branch-name small-text">Mechatronics & Automation Engineering</div>


                </div>
                <div class="semester-list list-item">
                    <ul>
                        <li class="semester-number">Semester-1</li>
                        <li class="semester-number">Semester-2</li>
                        <li class="semester-number">Semester-3</li>
                        <li class="semester-number">Semester-4</li>
                        <li class="semester-number">Semester-5</li>
                        <li class="semester-number">Semester-6</li>
                        <li class="semester-number">Semester-7</li>
                        <li class="semester-number">Semester-8</li>
                    </ul>
                </div>
                <!-- <div class="subject-list"></div> -->
            </div>
        </div>

        <div class="content-area">
            <!-- <div class="study"></div> -->


            <div class="function-card">
                <div class="func-name">Tools</div>
                <div class="card func-1">
                    <div class="card2">
                        <h1>Flashcard</h1>
                        <p>create flashcard of your weak topic for quick learning</p>
                    </div>
                </div>
                <div class="card func-2">
                    <div class="card2">
                        <h1>Quizzes</h1>
                        <p>Practice topics with questions covering whole topic</p>
                    </div>
                </div>
                <div class="card func-3">
                    <div class="card2">
                        <h1>Summary</h1>
                        <p>Learn with detail revision summary of your notes</p>
                    </div>
                </div>
                <div class="card func-4">
                    <div class="card2">
                        <h1>Last-minute revision</h1>
                        <p>get quick short summary for last minute husttle</p>
                    </div>
                </div>
                <div class="card func-5">
                    <div class="card2">
                        <h1>Imp questions</h1>
                        <p>Get imporatant question from perpective of exam</p>
                    </div>

                </div>
                <div class="card func-6">
                    <div class="card2">
                        <% if (user.role=='Student'){ %>
                            <h1>Your desk</h1>
                            <p>create your own set of notes as per your requirement</p>
                        <% } else{ %>
                            <div class="add-notes">
                                <h1>Add notes</h1>
                                <p>Add notes for students</p>
                            </div>
                        <%}%>
                    </div>
                </div>
            </div>

            <div class="bookmark">
                <div class="bookmark-tab">Bookmarks</div>
                <div class="bookmark-lists">
                    <ul>
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                    </ul>
                </div>
            </div>

            <div class="upload-notes">
           
                <form action="/home/upload/send" method="post" id="form" enctype="multipart/form-data">
                <label for="branch" id="branch-label">select branch</label><br>
                <select name="branch" id="branch" required>
                    <option value="Select branch" selected disabled>select a branch</option>
                    <option value="apme">Applied Physics & Materials Engineering</option>
                    <option value="ap">Architecture & Planning</option>
                    <option value="cst">Chemical Science & Technology</option>
                    <option value="ce">Civil Engineering</option>
                    <option value="cse">Computer Science & Engineering</option>
                    <option value="ee">Electrical Engineering</option>
                    <option value="ece">Electronic & Communication Engineering</option>
                    <option value="hss">Humanities & Social Science</option>
                    <option value="mnc">Mathematics & Computation Technology</option>
                    <option value="me">Mechanical Engineering</option>
                    <option value="mae">Mechatronics & Automation Engineering</option>
                </select>

                <label for="semester" id="semester-label" >Select Semester</label>
                <input type="number" id="semester" name="semester" placeholder="1" min="1" max="8" required>

                <label for="notes" id="notes-label">Enter Subject</label>
                <input type="file" name="notes" id="notes" required>
                <input type="text" name="subject" id="subject" placeholder="Enter name of subject" required>

                <button type="submit" id="upload">Upload</button>
                <button type="reset" id="cancel">Cancel</button>

            </form>
            
        </div>


        </div>
        


        




    </main>
</body>
<script src="/javascripts/script.js"></script>

</html>