<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <title>ZeroByte</title>
</head>

<body>
    <div class="navbar">
        <div class="name">
            <!-- <div class="logo">
                <img src="./image/logo.png" alt="">
            </div> -->
            <div class="name-logo">
                <img src="./images/name-logo.png" alt="">
            </div>
        </div>

        <div class="detail">

            <div id="branch" class="route-btn nav-btn branch-btn">Branch</div>

            <div class="arrow" id="one" style="color: grey;">></div>

            <div id="semester" class="nav-btn semester-btn" style="color: gray;">Semester</div>

            <div class="arrow" id="two" style="color: gray;">></div>

            <div id="subject" class="nav-btn subject-btn" style="color: grey;">Subject</div>


        </div>


        <div class="table">
            <div class="desk" style="color: black;">My Desk</div>
        </div>
    </div>


    <main>
        <div class="sidebar">
            <div class="user-info">
                <div class="logo"><img src="/images/logo.png" alt=""></div>
                <div class="user-detail">
                    <div class="user-name">Premanshu Pandey</div>
                    <div class="user-role">Student</div>
                    <a href="/">
                        <div class="logout">Logout</div>
                    </a>
                </div>
            </div>
            <div class="select">Select Branch</div>
            <div class="branch-list">

                <div class="branch-name small-text">Applied Physics & Materials Engineering</div>

                <div class="branch-name">Architecture & Planning</div>

                <div class="branch-name">Chemical Science & Technology</div>

                <div class="branch-name">Civil Engineering</div>

                <div class="branch-name">Computer Science & Engineering</div>

                <div class="branch-name">Electrical Engineering</div>

                <div class="branch-name small-text">Electronic & Communication Engineering</div>

                <div class="branch-name">Humanities & Social Science</div>

                <div class="branch-name small-text">Mathematics & Computation Technology</div>

                <div class="branch-name">Mechanical Engineering</div>

                <div class="branch-name small-text">Mechatronics & Automation Engineering</div>


            </div>
            <div class="semester-list">
                <ul>
                    <li>Semester-1</li>
                    <li>Semester-2</li>
                    <li>Semester-3</li>
                    <li>Semester-4</li>
                    <li>Semester-5</li>
                    <li>Semester-6</li>
                    <li>Semester-7</li>
                    <li>Semester-8</li>
                </ul>
            </div>
            <div class="subject-list"></div>
        </div>

        <div class="content-area">
            <div class="study"></div>


            <div class="function-card">
                <div class="func-name">Tools</div>
                <div class="card func-1">
                    <div class="card2"></div>
                </div>
                <div class="card func-2">
                    <div class="card2"></div>
                </div>
                <div class="card func-3">
                    <div class="card2"></div>
                </div>
                <div class="card func-4">
                    <div class="card2"></div>
                </div>
                <div class="card func-5">
                    <div class="card2"></div>
                </div>
                <div class="card func-6">
                    <div class="card2"></div>
                </div>
            </div>

            <div class="bookmark">
                <div class="bookmark-tab">Bookmarks</div>
                <div class="bookmark-lists">
                    <ul>
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                    </ul>
                </div>
            </div>

        </div>

    </main>
</body>
<script src="/javascripts/script.js"></script>

</html>