* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* color: white; */
    transition: all 0.3s ease;
}

body {
    overflow: hidden;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;

    justify-content: center;

    background-color: transparent;
    backdrop-filter: blur(2px);
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    gap: 30%;
}

.name {
    font-family: poppins, sans-serif;
    font-size: 5rem;
    font-weight: bold;
    color: #35ff8c;

}

a {
    display: inline-block;
    text-decoration: none;
    font-family: poppins, sans-serif;
}

a:active {

    text-decoration: none;
}

a:visited {

    text-decoration: none;
}

a:hover {

    text-decoration: none;
    /* transform: scale(1.1); */
}

.nav-btn:hover {
    transform: scale(1.1);
}

.login li {
    background-color: #35ff8c;
    color: black !important;
    border-radius: 20px;
}

.signup li{
    color: #35ff8c !important;
}

ul {
    padding: 10px 5%;
    display: flex;

    gap: 40px;
    align-items: center;
}

li {
    list-style: none;
    padding: 15px 30px;
    border: 2px solid #35ff8c;
    border-radius: 20px;
}

main {

    width: 100%;

    height: 100vh;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: start;
    padding: 10% 35% 0 5%;
    background-image: radial-gradient(#35ff8c 1.5px, transparent 1.5px);
    background-size: 50px 50px;
    background-color: #081411;
}

.about {

    width: 50%;

}

.about-text {
    height: 50%;

    padding: 0 10px;

    position: relative;
}

.tag-line {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 20px;
}

.about-text p {
    color: black;
    -webkit-text-stroke: 2px #35ff8c;

    font-size: 50px;
    white-space: nowrap;
    line-height: 1.8;

}

.hero {
    margin-top: 5%;
    width: 100vw;
    height: 100vh;
    background-color: #35ff8c;
    position: absolute;
    right: 0;
    top: 0;
    clip-path: polygon(70.3% 10.3%,
            95% 10.3%,
            95% 85%,
            5% 85%,
            5% 67%,
            40.5% 67%);

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.hero-inside {
    width: 100%;
    height: 100%;
    background-image: radial-gradient(#35ff8c 1.5px, transparent 1.5px);
    background-size: 50px 50px;
    background-color: #081411;

    clip-path: polygon(70.5% 10%,
            100% 10%,
            100% 85%,
            0% 85%,
            0% 67%,
            40.5% 67%);

    position: relative;
    top: 8px;

}

.get-started {
    width: 210px;
    height: 60px;
    background-color: #35ff8c;
    color: black;
    font-size: 25px;
    padding: 10px 30px;
    display: inline-block;
    position: relative;
    top: 670px;
    left: 200px;
    z-index: 10000;
    border-radius: 20px;
    overflow: hidden;
}

.started {
    color: black;
}

.arr {
    visibility: hidden;
    display: inline-block;
    margin: 0 0 0 20px;
    color: black;
    font-size: 25px;
    display: none;
    font-weight: 900;
    /* position: absolute; */
}

.get-started:hover {
    transform: scale(1.1);

}

.get-started:hover .started {
    display: none;
}

.get-started:hover .arr {
    display: inline-block;
    visibility: visible;
    animation: arrow 0.2s linear(0 0%, 0.63 25.38%, 1.15 43.93%) 0s 1 alternate forwards;


}

@keyframes arrow {
    0% {
        transform: translate(-100%, 0%)
    }

    100% {
        transform: translateX(0%);
    }
}

.cards {
    padding: 0 50px;
    width: 1100px;
    height: 450px;
    
    background-image: radial-gradient(#35ff8c 1.5px, transparent 1.5px);
    background-size: 50px 50px;
    background-color: #081411;
    position: absolute;
    bottom: 350px;
    right: 50px;
    display: flex;
    overflow: hidden;

}

.track {
    display: flex;
    width: 6600px;
}

.card {

    flex-shrink: 0;
    height: 100%;
    width: 1100px;
    animation: scroll 18s linear infinite;
    white-space: wrap;


    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    height: 450px;
    width: 1100px;



}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-6600px);
        
    }
}

.glass {
    width: 90%;
    height: 90%;
    color: #35ff8c !important;
    box-sizing: border-box !important; 

    backdrop-filter: blur(2px);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: end !important;
    justify-content: space-between;
    padding: 30px 20px 20px 40px;
}

.tool-name {
    font-size: 40px;
    margin: 10px;
    font-weight: 800;
}

.discription {
    text-align: right;
    white-space: wrap;
    width: 70%;
    font-size: 1.5rem;
    font-weight: 200;
    color: #29c86d7d  !important;
    line-height: 1;
}