* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.1s ease-in;
    font-family: poppins;
}

#display-none{
    display: none !important;
}

:root {
    --back1: #8b8b8b;
    --back2: #717171;
    --back3: #575757;
    --back4: #3f3f3f;
    --back5: #282828;
    --back6: #121212;
    --m1: 3px;
    --theme-color:#35ff8c;
}

body {
    background-color: var(--back4);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    position: relative;
}

.navbar {
    width: calc(80vw - 12px);
    margin: var(--m1);
    height: 5vh;
    background-color: var(--back6);
    position: absolute;
    left: calc(20vw + 6px);
    top: 0;
    border-radius: 10px;
    display:flex;
    justify-content: space-between;
    min-height: 41px;
    

}

.name{
    margin: 5px 5px;
    position: relative;
    left: 10px;
    
    margin-right: 25px;
    padding: 0px 5px;
    background-color: #1d1c1c;
    height: auto;
    display:flex;
    border-radius: 10px;
    gap: 20%;
    align-items: center;
    justify-content: center;
}


.name-logo{
    height: calc(100% - 4px);
    padding: 5px;
    display: flex;
    align-items: center;
}
.name img{
    height: 100%;
    
}

.detail{
    padding: 3px 40px;
    background-color: var(--back5);
    height: auto;
    margin: 2px 5px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.nav-btn{
    padding: 0 10px;
    background-color: var(--back4);
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-family:'Courier New', Courier, monospace;
    border-radius: 10px;
    text-align: center;
    pointer-events:none;
    display: flex;
    text-align: center;
    pointer-events:none;
}

.branch-btn{
    pointer-events: auto;
    cursor: pointer;
}

.arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    pointer-events: none;
}


.table{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 5px;
    gap: 10px;

}



.desk{
    margin: 0 5px;
    background-color: var(--theme-color);
    padding: 5px 15px;
    border: 2px solid var(--theme-color);
    border-radius: 20px;
    color: #000;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

main {
    color: white;
    display: flex;

}

.sidebar {
    margin: var(--m1);
    margin-top: 0;
    margin-bottom: 10px;
    width: 20vw;
    height: calc(100vh - 12px);
    background-color: var(--back6);
    border-radius: 10px;
    position: absolute;
    top: 3px;
    left: 0;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.content-area {
    margin: 0px var(--m1) var(--m1) 0px;
    margin-bottom: 10px;
    width: calc(80vw - 3 * var(--m1));
    height: calc(95vh - 10px - 2 * var(--m1));
    background-color: #121212;
    border-radius: 10px;
    position: absolute;
    left: calc(20vw + 6px);
    top:calc(5vh + 6px)
}

.user-info{
    background-color: var(--back5);
    width: 100%;
    height: 10vh;
    border-radius: 10px;
    display: flex;
    padding: 5px;
    gap: 5px;
}

.logo img{
    height: 100%;
    border-radius: 10px;
}

.user-detail{
    padding: 5px;
    position: relative;
}

.user-name{
    /* font-size: 25px; */
    font-size: 1.2vw;
    font-weight: 700;
    color: var(--theme-color);
}

.user-mail{
    font-size: 12px;
    color: var(--theme-color);
    font-weight: 200;
}

.user-role{
    margin-top: 5px;
    display: inline-block;
    padding: 2px 10px;
    border-radius: 10px;
    /* font-size: 12px; */
    font-size: 0.5vw;
    background: var(--theme-color);
    color: #000;
    width: fit-content;
    position: absolute;
    bottom: 0;
}

.logout{
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 2px 10px;
    border-radius: 10px;
    font-size: 12px;
    background: var(--back5);
    color: white;
    width: fit-content;
    border: 1px solid white;
}

.logout:hover{
    color: black;
    background-color: white;
}

.select{
    background-color: var(--back5);
    margin: 5px 0;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    
}
.branch-list{
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.branch-name{
    background-color: var(--back4);
    padding: 15px;
    border-radius: 5px;
}

.branch-name:hover{
    transform: scale(1.05);
}

.small-text{
    font-size: 14px;
}

.semester-list{
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.semester-list li{
    background-color: var(--back4);
    margin: 10px 0 ;
    text-align: center;
    list-style: none;
    padding: 15px;
    border-radius: 5px;
}

.semester-list li:hover{
        transform: scale(1.05);
}

.content-area{
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
}

.study{
    display:none;  
}



.function-card{
    background-color: var(--back5);
    width: 95%;
    height: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 4fr 4fr;
    align-items: center;
    justify-items: center;
    border-radius: 20px;
}

.func-name{
    grid-area: 1/1/2/4;
    display: inline-block;
    width: 90%;
    height: 50%;
    text-align: center;
    font-size: 30px;
    border-bottom: 2px solid var(--theme-color);
}

.card {
 width: 80%;
 height: 80%;
 background-color: #00ff75;
 border-radius: 20px;
 transition: all .3s;
}

.card2 {
 width: 100%;
 height: 100%;
 background-color: #1a1a1a;
 border-radius:20px;
 transition: all .2s;
 padding: 50px 15px;
}

.add-notes{
    width: 100%;
    height: 100%;
}

.card2 h1{
    /* color: var(--back5); */
    text-align: center;
    font-size: 2.2rem;
    color: var(--theme-color);
    /* color: #1a1a1a; */
    /* -webkit-text-stroke: 2px var(--theme-color); */
    margin-bottom: 20px;
}

.card2 p{
    color: #35ff8c;
}

.card2:hover {
 transform: scale(0.98);
 border-radius: 20px;
}

.card:hover {
 box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
}
.bookmark{
    width: 95%;
    height: 95%;
    background-color: var(--back5);
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr 4fr;
    align-items: center;
    justify-items: center;

}

.bookmark-tab{
    
    grid-area: 1/1/2/2;
    font-size: 30px;
    width: 90%;
    height: 50%;
    border-bottom: 2px solid var(--theme-color);
    text-align: center;
}

.bookmark-lists{
    grid-area:2/1/4/2;
    width: 95%;
    height: 95%;
    border-radius: 10px;
}

.bookmark-lists ul{
    display: flex;
    flex-direction: column;
}

.bookmark-lists li{
    background-color: var(--back4);
    margin: 5px 0 ;
    text-align: center;
    list-style: none;
    padding: 15px;
    border-radius: 5px;
}


.logout-2 {
    display: inline-block;
        border: 1px solid var(--theme-color);
        padding: 2px 5px;
        border-radius: 20px;
        text-decoration: none;
        font-size: 1vw;
        color: var(--theme-color);
        transition: all 0.3s ease-in-out;
}

.logout-2 div {
        border: none;
    }

.tab-nav {
    display: none;
}

.list-item{
    overflow-y: auto;
    overflow-x: hidden;
}


#form{
    background-color: var(--back6);
    width: 52%;
    height: 50%;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 1fr 3fr 3fr;
    gap: 20px;
    padding: 10px;
    border-radius: 15px;
    font-size: 1.5rem;
    border: 2px solid var(--theme-color);
}

input{
    appearance: none;
}

.upload-notes{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    /* position: absolute; */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    backdrop-filter: blur(5px);
    border: 2px solid white;
    display: none;
}

#branch-label{
    grid-area: 1/1/2/2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--theme-color);
}
#branch{
    border: none;
    padding: 10px;
    grid-area: 2/1/2/2;
    height: 40px;
    outline: 0;
    background-color: var(--back6);
    outline: none;
    color: whitesmoke;
    border-radius: 8px;
}
#branch:focus{
    background-color: var(--back5);
}
#semester-label{
    grid-area: 1/2/1/3;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--theme-color);
}

#semester{
    grid-area: 2/2/2/3;
    background-color: var(--back6);
    color: green;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: white;
    outline: none;
}
#semester:focus{
    background-color: var(--back5);
}

#notes-label{
    grid-area: 1/3/1/4;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--theme-color);
}

#subject{
    grid-area: 2/3/2/4;
    height: 40px;
    padding: 10px;
    align-self: top;
    background-color: var(--back6);
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
}
#subject:focus{
    background-color: var(--back5);
}

#notes{
    grid-area: 2/3/2/4;
    align-self: center;
    background-color: var(--back6);
    color: white;
    border: none;
}

#upload{
    font-size: 1.2rem;  
    grid-area: 3/3/3/4;
    height: 50px;
    width: 50%;
    color: var(--back6);
    background-color: var(--theme-color);
    border: none;
    border-radius: 50px;
}

#cancel{
    border: none;
    font-size: 1.2rem;
    grid-area: 3/2/3/3;
    height: 50px;
    width: 70%;
    justify-self: end;
    background-color: var(--back5);
    color: var(--theme-color);
    border-radius: 50px;
}



@media screen and (min-width:800px) and (max-width:1023px) {
    .user-info {
        position: absolute;
        top: 0;
        left: 0;
        height: 5vh;
        min-height: 41px;
    }

    .user-role {
        right: 0;
    }

    .logo {
        width: 30%;
    }

    .logo img {
        width: 100%;
    }

    .logout {
        display: none;
    }

    .logout-2 {
        display: inline-block;
        border: 1px solid var(--theme-color);
        padding: 2px 5px;
        border-radius: 20px;
        text-decoration: none;
        font-size: 1vw;
        color: var(--theme-color);
        transition: all 0.3s ease-in-out;
    }

    .logout-2 div {
        border: none;
    }

    .desk {
        font-size: 1.3vw;
        white-space: nowrap;
        gap: 10px;
    }

    .detail {
        padding: 3px 3px;
    }

    .name {
        margin-right: 10px;
    }

    
    .select {
        position: absolute;
        top: 5vh;
        display: none;
    }

    body {
        background-color: var(--back6);
        width: 100vw;
    }

    .tab-nav {
        display: flex;
        position: absolute;
        top: 46px;
        width: 95vw;
        text-align: center;
        margin: 0 10px;
        justify-content: space-around;
    }

    .tab-utility-btn{
        width: 100%;
        border-bottom: 2px solid var(--theme-color);
    }

    .func-name {
        display: none;

    }

    .function-card {
        width: 100%;
        height: 100%;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 4fr 4fr;
        position: absolute;
        bottom: 0;
    }
    .content-area{
        transform: scale(0.9);
        width: 100%;
        position: absolute;
        left: 0;
        padding: 0;
    }
    
    .bookmark{
        position: absolute;
        bottom: 0;
        z-index: 1000;
        display: flex;
        flex-direction: column;
        padding-top:10px;
    }

    .bookmark-tab{
        display: none;
    }
    .list-item {
        height: 80vh;
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        top: 85px;
        width: 90%;
        padding: 10px 30px;
    }
    .list-item ul {
        background-color: transparent;
        overflow: auto;
    }
    .list-item ul li{
        position: relative;
        z-index: 10000000000000;
        box-sizing: border-box;
    }
}