*{
    margin: 0;
    padding: 0;
    /* box-sizing: content-box; */
    box-sizing: border-box;
}

:root {
    --back1: #8b8b8b;
    --back2: #717171;
    --back3: #575757;
    --back4: #3f3f3f;
    --back5: #282828;
    --back6: #121212;
    --m1: 3px;
    --theme-color:#35ff8c;
}

body{
    background: linear-gradient(blue,red);
    height: 100vh;
}

#form{
    background-color: var(--back6);
    width: 52%;
    height: 50%;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 1fr 3fr 3fr;
    gap: 20px;
    padding: 10px;
    border-radius: 15px;
    font-size: 1.5rem;
    border: 2px solid var(--theme-color);
}

input{
    appearance: none;
}

.upload-notes{
    width: 98%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    backdrop-filter: blur(50px);
}

#branch-label{
    grid-area: 1/1/2/2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--theme-color);
}
#branch{
    border: none;
    padding: 10px;
    grid-area: 2/1/2/2;
    height: 40px;
    outline: 0;
    background-color: var(--back6);
    outline: none;
    color: whitesmoke;
    border-radius: 8px;
}
#branch:focus{
    background-color: var(--back5);
}
#semester-label{
    grid-area: 1/2/1/3;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--theme-color);
}

#semester{
    grid-area: 2/2/2/3;
    background-color: var(--back6);
    color: green;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: white;
    outline: none;
}
#semester:focus{
    background-color: var(--back5);
}

#notes-label{
    grid-area: 1/3/1/4;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--theme-color);
}

#subject{
    grid-area: 2/3/2/4;
    height: 40px;
    padding: 10px;
    align-self: top;
    background-color: var(--back6);
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
}
#subjet:focus{
    background-color: var(--back5);
}

#notes{
    grid-area: 2/3/2/4;
    align-self: center;
    background-color: var(--back6);
    color: white;
    border: none;
}

#upload{
    font-size: 1.2rem;  
    grid-area: 3/3/3/4;
    height: 50px;
    width: 50%;
    color: var(--back6);
    background-color: var(--theme-color);
    border: none;
    border-radius: 50px;
}

#cancel{
    border: none;
    font-size: 1.2rem;
    grid-area: 3/2/3/3;
    height: 50px;
    width: 70%;
    justify-self: end;
    background-color: var(--back5);
    color: var(--theme-color);
    border-radius: 50px;
}
